<div id="<%= dom_id client_address %>">
  <p>
    <strong>User:</strong>
    <%= client_address.user_id %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= client_address.address_id %>
  </p>

</div>
